{% extends 'produtos/produtos_base.html' %}
{% block js %}
  <script type="application/javascript" src="/static/js/produtos.js"></script>
{% endblock %}
{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="well">
          <h2> Formulário de Produto</h2>


          <select id="categoria-input" name="categoria">
            {% for cat in categorias %}
              <option value="{{ cat.key.id() }}">{{ cat.nome }}</option>
            {% endfor %}

          </select>
          {{ csrf_input() }}
          {{ form_input('Nome','nome','','') }}
          {{ form_input('Preço','preco','','') }}
          <button id="salvar-btn" class="btn btn-success" type="button">Salvar</button>
            <img id="ajax-save-gif" src="/static/img/ajax.gif" />


          <div id="busca">
            <h3>Lista de Produtos {{ 'da categoria '+categoria_selecionada.nome if categoria_selecionada }} </h3>

            <form action="{{ pesquisa_path }}">
              <select name="categoria_selecionada">
                {% for cat in categorias %}
                  <option
                      value="{{ cat.key.id() }}" {{ 'selected="selected"' | safe if cat == categoria_selecionada }}>{{ cat.nome }}</option>
                {% endfor %}

              </select>
              <button type="submit" class="btn btn-success">Pesquisar</button>


            </form>
            <ul>
              {% for prod in produtos %}
                <li>{{ prod.nome }} - {{ prod.preco }}</li>
              {% endfor %}

            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>


{% endblock %}