{% extends 'produtos/produtos_base.html' %}
{% block body %}
{% set produto = produto or None %}
{% set erros = erros or None %}
<div class="container">
   <div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="well">
        <h2> Formulário de produto</h2>
        <form action="{{ salvar_path }}" method="post">
        {{ csrf_input() }}
        {{ form_input('Nome','nome',produto.nome,erros.nome) }}
        {{ form_input('Preço','preco',produto.preco,erros.preco) }}
        {% if produto.key  %}
        <input type="hidden" name="produto_id" value="{{ produto.key.id() }}" />
        {% endif %}
        <button class="btn btn-success" type="submit">Salvar</button>

        </form>
        </div>
        </div>
        </div>
        </div>
{% endblock %}